*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body{
    background-color: rgb(85, 83, 83);
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    height: 60px;
    background-color: rgb(235, 231, 27);
}

.nav a{
    color: rgb(22, 21, 10);
    padding: 4px 8px;
    text-decoration: none;
    margin-left: 40px;
    font-size: 25px;
    transition: 1s;
}
.nav a:hover{
    background-color: rgb(153, 4, 4);
    color: rgb(241, 178, 133);
    transition: 1s;
}
.user-info{
    display: flex;
    align-items: center;
}
.cat-basik{
    position: relative;
    margin: 30px;
}
.cat{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.online-dot{
    position: absolute;
    right: 0;
    bottom: 3px;
    width: 12px;
    height: 12px;
    background-color: rgb(10, 226, 46);
    border-radius: 50%;
}

.about{
    display: flex;
    justify-content: center;
}

.text2{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 20px;        
    padding: 20px; 
}

.text2 p{
    width: 20%;
    text-align: center;      
    border-radius: 15px;     
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Тень для объема */
    background-color: #ffffff; 
    padding: 20px;           
    font-size: 14px;        
    color: #333;        
}

h3{margin-top: 20px;

}

.question{
    text-align: center;
    margin: 20px;

}
.block0{
   display: flex;
    justify-content: space-around;
    padding:  40px; 
}

.features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature {
    text-align: center;
    width: 30%;
   
    gap: 20px;        
    padding: 20px; 
}




.feature img {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.feature h3 {
    margin-top: 0;
}

.footer{
    background-color:rgb(235, 231, 27) ;
    width: 100%;
    height: 40px;
    text-align: center;
    color: blueviolet;
    font-size: 14px;
    padding: 20px;
     border: 1px solid black;

}
.btn{
    position: fixed;
    right: 40px;
    bottom: 40px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    background-color: rgb(228, 225, 39);
    transition: 1s;
    border-radius: 50%;

}
.btn:hover{
    background-color: blue;
    transition: 1s;
}
.content {
    background: #f5761b;
    background: linear-gradient(90deg, rgba(245, 118, 27, 1) 0%, rgba(168, 84, 112, 1) 50%, rgba(161, 138, 242, 1) 100%);
    border-radius: 10px;
    margin: 20px;
    padding: 30px;
    width: 100%;
    border: 1px solid black;
}
.post{margin-bottom: 30px;}
.date{
    color: #612a03;
}

.photobutton{
    width: 10px;
    border-radius: 50%;

}


.photo {
    width: 200px;
    height: 230px;
    border-radius: 20px;
    margin: 10px;
}
.text {
    color: rgb(30, 2, 56);
    margin: 20px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.block2{
    display: flex;
    
    width: 100%;
  
}
.text1{
    width: 25%;}

    .photo1{
         width: 75%;
          margin: 0 auto;
    }




